@media screen and (max-width: 950px) {
    .searchForm__conteiner {
      width: 385px;
    }
    }

@media screen and (max-width: 650px) {
    .searchForm__conteiner {
        width: 285px;
    }
    }

.conteiner {
    width: calc(20px+(50-20)*((100vw-320px)/(1200-320)));
}

/* Your API key is: 4ae4d0cebb2f4f89a5f14c08796ef8db */





